version: "2"
services:
    jal-web:
        build: .
        ports: 
            - "2201:8080"
        links: 
            - mongo
    mongo:
        image: mongo
        volumes: 
            - ./data:/data/db
        ports: 
            - "27017:27017"