section#bienvenue
  h1 Import
  h2 Bienvenue dans la rubrique import
  p(style="text-align: center; padding: 16px;") Nous allons vous guider pendant tout le processus  d’import de vos produits. Pour cela, lisez attentivemente nos instruction et vous verrez combien c’est facile avec j’arrive à Libreville.
  p.small-text Pour commencer cliquez sur le bouton commencer   :o)
  button(class="standard-button" onclick="nextStep()") Commencer