section#explication
  h2 Comment ça marche?

  .steps
    .step
      p.circle-text Etape 1
      p Choissisez le site sur lequel vous voulez effectuer vos courses en cliquant sur l’îcone correspondant. Un nouvel onglet s’ouvrira avec le site marchand que vous avez choisi.
    
    .step
      p.circle-text Etape 2
      p Quand le site marchand vous demandera l’adresse de livraison, revenez sur la fenêtre de j’arrive à Libreville et copiez l’adresse de livraison.
    
    .step
      p.circle-text Etape 3
      p Quand vous aurez terminé, revenez sur le site pour le notifier à J’arrive à Libreville pour la suite.

  p.small-text Vous pourrez suivre cette commande dans votre 
    a(href="/mon_compte") compte utilisateur
  
  p Si c’est pas très claire, visualisez ce petit  tutoriel vidéo

  div.video-cn

  button(class="standard-button" onclick="createCommandeImport()") J'ai compris