section#finissions
  h2 Finissions

  p Pour la suite
  p Contactez j'arrive à Libreville

  .contacts
    .contact
      p.icon
        i(class="fa fa-at")
      p contactez j'arrive à Libreville par email
      p.value jarrivealibreville@gmail.com
      p.time 24h/7j

    .contact
      p.icon
        i(class="fa fa-phone")
      p contactez j'arrive à Libreville par téléphone au numéro
      p.value +241 65 63 46 80
      p.time Lundi - Vendredi, 8h - 16h

    .contact
      p.icon
        i(class="fab fa-whatsapp")
      p contactez j'arrive à Libreville sur WathsApp
      p.value +241 65 63 46 80 
      p.value +86 186 80 454 290
      p.value +33 755 42 17 10
      p.value +212 609 199 146 
      p.time 24h/7j

  a(href="/mon_compte" class="standard-button") Voir mes commandes