section#finissions
  h2 Finissions

  p Pour la suite
  p Contactez j'arrive à Libreville

  .contacts
    .contact
      p.icon
        i(class="fa fa-at")
      p contactez j'arrive à Libreville par email
      p.value jarrivealibreville@gmail.com
      p.time 24h/7j

    .contact
      p.icon
        i(class="fa fa-phone")
      p contactez j'arrive à Libreville par téléphone au numéro
      p.value +241 xx xx xx
      p.time Lundi - Vendredi, 7h - 18h

    .contact
      p.icon
        i(class="fab fa-whatsapp")
      p contactez j'arrive à Libreville sur WathsApp
      p.value +241 xx xx xx
      p.time 24h/7j

  a(href="/mon_compte" class="standard-button") Voir mes commandes