html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/admin/style.css")
    link(rel="shortcut icon" type="image/png" href="/img/logo-jal.png")


  body
    header
      .app-title
        img(src="/img/logo-jal.png" class="logo-jal" alt="Logo de j'arrive à libreville")
        p J'arrive à Libreville
      
      nav
        a(href="/admin/visites") Utilisateurs
        a(href="/admin/commandes") Commandes
        a(href="/admin/cotation") Cotation
        a(href="/admin/vk") Vk

      p=user.username

    main
      block content