html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/forgot_password.css")
    link(rel="stylesheet" href="/css/change_password.css")

  body
    header
      .app-title
        a(href="/")
          img(src="/img/logo-jal.png" class="logo-jal" alt="Logo de j'arrive à libreville")

    main
      p.result
      h1 Mot de passe oublié
      h2 Changez votre mot de passe
      form(action="/users/update" method="post")
        .form-group
          input#password(type="password" name="password")
          label(for="password") Mot de passe
        .form-group
          input#confpassword(type="password" name="confpassword")
          label(for="confpassword") Confirmer le mot de passe
        button(class="standard-button") Envoyer