section#bienvenue
  h1 Achat + Import
  h2 Bienvenue dans la rubrique Devis + Achat  + import
  p(style="text-align: center; padding: 40px;") Nous allons vous guider pendant tout le processus d’achat et d’import de vos produits. Pour cela, lisez attentivemente nos instructions et vous verrez combien c’est facile avec j’arrive à Libreville.
  p.small-text Pour commencer cliquez sur le bouton Commencer
  button(class="standard-button" onclick="nextStep()") Commencer