section#explication
  h2 Comment ça marche?

  .steps
    .step
      p.circle-text Etape 1
      p Choissisez le site sur lequel vous voulez effectuer vos course en cliquant sur l’îcone correspondant. Un nouvel onglet s’ouvrira avec le site marchand que vous avez choisi.
    
    .step
      p.circle-text Etape 2
      p Une fois que vous aurez termniner vos courses sur le site marchand, revenez sur la fenêtre de j’arrive à Libreville et collez le lien dans la zone indiqué et appuiyez sur le bouton envoyé

  p.small-text Si c’est pas très claire, visualise ce petit  tutoriel vidéo

  div.video-cn

  button(class="standard-button" onclick="createCommandeAchatImport()") J'ai compris