section#explication
  h2 Comment ça marche?

  .steps
    .step
      p.circle-text Etape 1
      p Choissisez le site sur lequel vous voulez effectuer vos courses en cliquant sur l’îcone correspondant. Un nouvel onglet s’ouvrira avec le site marchand que vous avez choisi.
    
    .step
      p.circle-text Etape 2
      p Imprimez la page du panier dans un document PDF ou faites une capture d'écran si on arrive à voir tout les colis à l'écran.
    .step
      p.circle-text Etape 3
      p Une fois que vous aurez termniné vos courses sur le site marchand, revenez sur la fenêtre de j’arrive à Libreville et importez la capture ou l'impression que vous avez faite de votre panier.

  p.small-text Si c’est pas très claire, visualisez ce petit  tutoriel vidéo

  div.video-cn

  button(class="standard-button" onclick="createCommandeAchatImport()") J'ai compris