section#explication
  h2 Comment ça marche?

  .steps
    .step
      p.circle-text Etape 1
      p Choissisez le site sur lequel vous voulez effectuer vos course en cliquant sur l’îcone correspondant. Un nouvel onglet s’ouvrira avec le site marchand que vous avez choisi.
    
    .step
      p.circle-text Etape 2
      p Imprimer la page du panier dans un document PDF ou faite une capture d'écran si on arrive à voir tout les colis
    .step
      p.circle-text Etape 3
      p Une fois que vous aurez termniner vos courses sur le site marchand, revenez sur la fenêtre de j’arrive à Libreville et importer la capture ou l'impression que vous avez fait de votre panier

  p.small-text Si c’est pas très claire, visualise ce petit  tutoriel vidéo

  div.video-cn

  button(class="standard-button" onclick="createCommandeAchatImport()") J'ai compris