section#facture
  h2 Calcul de la facture

  p(style="padding:16px;") Merci, de faire confiance à j’arrive à Libreville.

  p(style="padding:16px;")  Nous avons bien reçu votre panier, nous vous établirons un devis d’achat.

  p(style="padding:16px;")  Le délai de traitement est de 24 heures et de 72h pour les devis en Chine. Vous pouvez donc vaquer à d’autres occupations tout en vérifiant régulièrement vos commandes.

  p(style="padding:16px;")  Nous vous informerons quand votre facture sera prête.

  a(href="/mon_compte" class="standard-button" style="margin-top: 20px;") Voir mes commandes