section#facture
  h2 Calcul de la facture

  p(style="padding:16px;") Merci, de faire confiance à j’arrive à Libreville.

  p(style="padding:16px;")  Nous avons bien reçu votre panier,  nous sommes entrain de calculer combien sa va vous couter en FCF au total.

  p(style="padding:16px;")  cela peut prendre un certain temps (24 heures maximum). Vous pouvez donc vaquer à d’autres occupations tout en vérifaint régulièrement vos commandes.

  p(style="padding:16px;")  Nous vous informerons quand votre facture sera prête.

  a(href="/mon_compte" class="standard-button" style="margin-top: 20px;") Voir mes commandes