section#remerciement
  h2 Remerciement

  p(style="padding:20px;") Merci d'avoir choisi j'arrive à Libreville

   p(style="padding:20px;")  Nous avons bien reçu votre paiement et nous sommes entrain de lancer la procedure de livraison

  

  a(href="/mon_compte" class="standard-button") Mes commandes