section#site_marchand
  h2 Choix du site marchand

  p Rendez vous sur l'un des sites marchands suivants

  .sites(style="margin-top: 20; margin-bottom: 40px")
    a(href="https://www.amazon.fr/")
      img(src="https://www.sujet24.com/wp-content/uploads/2019/06/amazon.jpg" alt="")
    a(href="https://www.amazon.fr/")
      img(src="https://www.sujet24.com/wp-content/uploads/2019/06/amazon.jpg" alt="")
    a(href="https://www.amazon.fr/")
      img(src="https://www.sujet24.com/wp-content/uploads/2019/06/amazon.jpg" alt="")
    a(href="https://www.amazon.fr/")
      img(src="https://www.sujet24.com/wp-content/uploads/2019/06/amazon.jpg" alt="")

  p(style="padding: 16px;") Comment voulez vous faire venir votre marchandise ?
  .convoits
    .convoit(onclick="changeConvoit('avion')" class="avion")
      i(class="fas fa-plane")
      div
        h3 Avion
        p Votre colis viendra plus rapidement mais il faudra avoir une petite quantité de produit

    .convoit(onclick="changeConvoit('bateau')" class="selected-convoit bateau")
      i(class="fa fa-ship")
      div
        h3 Bateau
        p Le temps de transport sera plus long mais vous pouvez envoyer un plus grand nombre de marchandise

  p(style="margin-bottom: 40px;") Ensuite venez coller le lien du panier ici...

  .form-group
    input#panier(type="file" name="panier" placeholder="Uploadez la page web imprimé" accept="application/pdf" onchange="loadPanier(this)")
    label(for="panier") 
      span Uploadez la page web imprimé
      span.filename
  
  button(class="standard-button" style="margin-top:20px;" onclick="sendPanierToCommande()") Valider