section#site_marchand
  h2 Choix du site marchand

  p Rendez vous sur l'un des sites marchands suivants

  .sites(style="margin-top: 20; margin-bottom: 40px")
    a(href="https://www.amazon.fr/")
      img(src="https://www.sujet24.com/wp-content/uploads/2019/06/amazon.jpg" alt="")
    a(href="https://www.amazon.fr/")
      img(src="https://www.sujet24.com/wp-content/uploads/2019/06/amazon.jpg" alt="")
    a(href="https://www.amazon.fr/")
      img(src="https://www.sujet24.com/wp-content/uploads/2019/06/amazon.jpg" alt="")
    a(href="https://www.amazon.fr/")
      img(src="https://www.sujet24.com/wp-content/uploads/2019/06/amazon.jpg" alt="")

  p(style="margin-bottom: 40px;") Ensuite venez coller le lien du panier ici...

  .form-group
    input#panier(type="text" name="panier" placeholder="Collez le lien du panier ici")
    label(for="panier") Lien du panier
  
  button(class="standard-button" style="margin-top:20px;") Valider