html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/connexion.css")

  body
    header
      .app-title
        a(href="/")
          img(src="/img/logo-jal.png" class="logo-jal" alt="Logo de j'arrive à libreville")

    p.result
    h1 Mot de passe oublié
    h2 Envoyer nous l'adresse email de votre compte
    .form-group
      input#email(type="email" name="email")
      label(for="email") Adresse Email
    button(class="standard-button" onclick="updatePassword()") Envoyer

    script(src="/js/forgot_password.js")