html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/landing_page.css")

  body
    header
      .app-title
        img(src="/img/logo-jal.png" class="logo-jal" alt="Logo de j'arrive à libreville")
        p J'arrive à Libreville
      
      if user
        - let fullname = user.nom + " " + user.prenom;
        a(href="/mon_compte" class="username") 
          i(class="far fa-smile")
          span=fullname
      else
        nav
          a(href="/inscription") Inscription
          a(href="/connexion") Connexion

    .propostion-valeurs(class="fade")
      .proposition-valeur(class="current-pv" style="background-image: linear-gradient(#00000088, #00000088), url(https://images.unsplash.com/photo-1492707892479-7bc8d5a4ee93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=401&q=80)")
        h1 Achetez ce que vous voulez partout dans le monde et nous les ferons parvenir à Libreville pour vous
        a(href="#prestation-title" class="standard-button") Je veux faire des achats en ligne
      .proposition-valeur(style="background-image: linear-gradient(#00000088, #00000088), url(https://images.unsplash.com/photo-1522199755839-a2bacb67c546?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80)")
        h1 Vous avez vu un article sur internet mais vous ne savez pas comment l’acheter et le faire venir sur Libreville,
        a(href="/achat_import" class="standard-button") Recevez le en quelque clique
      .proposition-valeur(style="background-image: linear-gradient(#00000088, #00000088), url(https://images.unsplash.com/photo-1563013544-824ae1b704d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)")
        h1 Utilisez nos adresses de livraison pour faire venir les produits que vous achetés sur internet à Libreville
        a(href="/import" class="standard-button") je veux faire venir un produit
    .proposition-valeur-nav-button
      button(class="direction-button" onclick="minusSlide()")
        i(class="fa fa-chevron-left")
      button(class="direction-button" onclick="plusSlide()")
        i(class="fa fa-chevron-right")

    h1 Qui sommes nous?

    section(class="apropos")
      .presentation
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor mauris, faucibus a sem at, bibendum porttitor risus. Proin eget lectus nulla. Quisque ut nisl tincidunt, consectetur justo a, porta quam. Praesent id ante nec orci tincidunt fringilla nec vestibulum velit. Pellentesque odio risus, iaculis eu tortor sed, aliquet luctus enim. Morbi imperdiet eros ut viverra commodo. Etiam tempus sit amet arcu quis dictum. Donec bibendum velit ac elementum tempor.
        p Ut quis ex pretium, laoreet tellus quis, pulvinar metus. Proin ut sollicitudin erat. Duis sed faucibus neque. Duis leo turpis, auctor vitae eros a, mattis congue risus. Sed nibh metus, ornare et tempor vel, vulputate at est. Mauris scelerisque diam eu arcu auctor sodales at in velit. Quisque iaculis nulla id tristique viverra. Cras mollis leo diam, et dignissim diam ornare a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vestibulum pellentesque elit, sed fermentum leo volutpat vitae. Donec lorem lacus, volutpat in tellus vestibulum, fermentum malesuada metus. Cras fringilla maximus turpis, vel ultricies nibh vehicula et. Maecenas porttitor sit amet metus ac ornare.

      img(src="/img/logo-jal.png" alt="Logo de j'arrive à libreville")
    p(style="text-align:center; padding-top:20px; font-size:24px") Constitué votre panier sur n’importe quelle site de e-commerce

    .site-marchands
      img(class="site-marchand-icon" src="https://www.sujet24.com/wp-content/uploads/2019/06/amazon.jpg" alt="")
      img(class="site-marchand-icon" src="/img/sites/alibaba.png" alt="")
      img(class="site-marchand-icon" src="/img/sites/banggood.png" alt="")
      img(class="site-marchand-icon" src="/img/sites/engel.png" alt="")
      img(class="site-marchand-icon" src="/img/sites/gearbest.png" alt="")
      img(class="site-marchand-icon" src="/img/sites/litb_logo.png" alt="")
      img(class="site-marchand-icon" src="/img/sites/shein.png" alt="")
      img(class="site-marchand-icon" src="/img/sites/taobao.png" alt="")
      img(class="site-marchand-icon" src="/img/sites/tomtop.png" alt="")
      img(class="site-marchand-icon" src="/img/sites/wish.png" alt="")
      img(class="site-marchand-icon" src="/img/sites/tomtop.png" alt="")
      img(class="site-marchand-icon"  src="/img/sites/cdiscount.jpeg" alt="")

    p(style="text-align:center; padding-top:20px; font-size:24px") Et nous nous occupons du reste grâce à nos partenaire

    .site-marchands
      img(class="site-marchand-icon" src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/29/Logo_Bollore_2020.svg/1200px-Logo_Bollore_2020.svg.png", alt="Bolloré")
      img(class="site-marchand-icon" src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/29/Logo_Bollore_2020.svg/1200px-Logo_Bollore_2020.svg.png", alt="Bolloré")

    h1#prestation-title Que voulez vous faire?

    .prestations
      .achat-import
        h2 Achat + Import
        p Je n’arrive pas à effectuer des achats en ligne, pouvez vous m’aider?
        p Oui! Choisissez les produits que vous voulez et nous les acheterons pour vous et les ferons venir à Libreville
        a(href="/achat_import/0/null" class="standard-button") Acheter un produit et faire venir à Libreville

      .import
        h2 Import
        p Je peux très bien faire les achats sur internet mais je cherche un moyen simple et fiable pour les faires venir à Libreville
        p Ne cherchez plus! Nous mettons à votre disposition nos adresses de livraison
        a(href="/import/0/null" class="standard-button") Faire venir des produits à Libreville

    .resultats
      .title
        i(class="fas fa-sun")
        p Nos chiffres

      .all-results
        .result
          p.value +10,000
          i(class="fa fa-box-open")
          p Courses réalisés

        .result
          p.value +200
          i(class="fa fa-globe-asia")
          p Pays

        .result
          p.value -4
          i(class="fa fa-history")
          p Délai de livraison en jour

        .result
          p.value +90%
          i(class="fa fa-smile")
          p Taux de satisfaction

    h1 Ce que ils disent de nous

    .testimonials
      .testimonial
        i(class="fa fa-quote-left")
        p Donec vulputate iaculis nibh non facilisis. Fusce ut quam purus. Aenean id mollis ligula. Quisque egestas he.
      .testimonial
        i(class="fa fa-quote-left")
        p Donec vulputate iaculis nibh non facilisis. Fusce ut quam purus. Aenean id mollis ligula. Quisque egestas hendrerit mollis.

    p(style="font-size=24px; padding:20px; text-align:center;") Vous  voulez encore plus de témoignage? Visitez nous sur les réseaux sociaux
    
    .socials
      a(href="#")
        i(class="fab fa-linkedin" style="color:#2867B2;")
      a(href="#")
        i(class="fab fa-facebook-square" style="color:#4267B2;")
      a(href="#")
        i(class="fab fa-instagram-square" style="color:#E1306C;")
    
    footer
      h1 Nous contacter
      p jarrivealibreville@gmail.com
      p +241 065 77 07 29
      p Cité Pompidou, Libreville Gabon

    script(src="/js/landing_page.js")
